
<div class="form-group">
  <button type="button" class="btn btn-danger" (click)="onRevealSecret()">{{revealSecret ? 'Hide Secret' : 'Reveal Secret'}}</button>
</div>

<p class="alert alert-danger" *ngIf="revealSecret">Mars is on the brink of Interplanetary War.</p>

<ol>
  <li
    *ngFor="let logMessage of logMessages"
    [ngStyle]="logMessage.id > 5 ? { backgroundColor: 'lightsteelblue' } : ''"
    [ngClass]="{ whiteText: logMessage.id > 5 }"
  >
    Action logged on
    {{logMessage.timestamp | date:'longDate'}}
    at
    {{logMessage.timestamp | date:'mediumTime'}}
  </li>
</ol>