<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1>To Angular 9 and beyond!</h1>
        <p class="lead">Exercises to learn Angular 9 with <a href="https://www.udemy.com/course/the-complete-guide-to-angular-2/">Udemy course</a></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-warning-alert>Houston, we have a problem.</app-warning-alert>
    </div>
    <div class="col">
      <app-success-alert>We have landed - planet A9 looks solid.</app-success-alert>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-username></app-username>
    </div>
    <div class="col">
      <app-password-logger></app-password-logger>
    </div>
  </div>
</div>
